<div id="page-title">
  <h3>
    Agregar Institución<small><b> Los campos con (*) son obligatorios</b></small>
  </h3>
</div>
<!-- #page-title -->
<%= render 'form' %>
<br/>
<%= link_to 'Regresar', institutions_path, class: "btn primary-bg medium"%>
