<div id="page-title">
<h3>
    Agregar Ayuda<small><b> Los campos con (*) son obligatorios</b></small>
</h3>
</div><!-- #page-title -->
<%= render 'form' %>
<br/>
<%= link_to 'Regresar', ayudas_path, class:"btn primary-bg medium" %>
