<div class="row">
  <div class="col-sm-12  form-box">
    <div class="form-top">
      <div class="form-top-left text-center">
        <h3>Bienvenido al Sistema Coraz칩n</h3>
        <img src="/assets/corazon.png" width="10%" heigh="10%" alt="logo"/>
        <p>Introduzca su email y contrase침a para ingresar:</p>
      </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="form-bottom col-md-8">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <h4>
          <i class="fa fa-envelope"></i>
          Email</h4>
        <%= f.email_field :email, autofocus: true, class:"form-username form-control" %>
      </div>
      <div class="field">
        <h4>
          <i class="fa fa-lock fa-lg"></i>
          Contrase침a</h4>
        <%= f.password_field :password, autocomplete: "off", class:"form-username form-control" %>
      </div>
    </br>
    <div class="text-center">
      <button type="submit" name="name" class="btn primary-bg medium">
        <%= raw("<i class=\"fa fa-sign-in fa-1x\"></i>  Iniciar Sesi칩n") %>
      </button>
    </div>
  </br>
</br>
<% end %>
</div>
</div>
</div>
