<div id="page-title">
<h3>
    Agregar Persona<small><b> Los campos con (*) son obligatorios</b></small>
</h3>
</div><!-- #page-title -->
<%= render 'form' %>
<br/>
<%= link_to 'Regresar', personas_path, class: "btn primary-bg medium"%>
